* {
    margin: 0;
    padding: 0;
    width: auto;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

:root {
    --color-primary: #2e8b68;
    --color-sucess: #6c63ff;
    --color-warning: #6fbd17;
    --color-danger: #fa0808;
    --color-danger-variant: #dd1974;
    --color-white: #ffff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #0000;
    --color-bg: #65d818;
    --color-bg1: #bee21c;
    --color-bg2: #e6870b;


    --container-width-lg: 86%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 600ms ease;
}

body {
    font-family: 'Montserrat';
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    margin: 0;
    padding: ;
}  

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;

}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.5rem;
}

h1 {
    font-size: 2.4rem;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    
}

h2 {
    font-size: 2rem;
    

}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-sucess);
    color: var(--color-danger);
    padding: 0.5rem 2rem;
    border: 1.5px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/*=========NAVEBAR==================*/
.teach {
    display:inline-flexbox;
    background: #f7e6e6;
    text-align: right;
    z-index: 12;
}

nav {
    background: transparent;
    color: #6c63ff;
    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 11;
    

}

/* change navbar style using javascript*/

.window-scroll {
    background: var(--color-bg);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav button {
    display: none;
}

.nav__menu {
    display: flex;
    align-items: right;
    gap: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 3rem;
    align-self: start;
}

.nav__menu a {
    font-size: 1.1rem;
    color: rgb(22, 6, 235);
    transition: var(--transition);
    

}

.nav__logo-image {
    display: auto;
    margin-top: 0;
    width: 4rem;
    align-items: left;
    line-height: 2rem;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 11; 
    line-height: 1rem;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    text-align: left;
   
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
    

  .dropdown-item:hover {
    background-color: #332e2e;
  }
  

  /*==============slideshow*/
  .slideshow-container {
    position: relative;
    max-width: auto;
    margin: auto;
   
  }

  .slide {
    display: none;
  }

  .slide img {
    width: 100%;
    height: 36rem;
  }

  .slide-caption {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 2rem;
    text-align: center; 
    animation: slide;
  }

  @keyframes slide {
    0% { transform: translateX(0); opacity: 0; }
    50% { transform: translateX(50px); opacity: 0.5; }
    100% { transform: translateX(0); opacity: 2; }
  }

  .slide-caption {
    font-size: 35px;
    animation: slide 3s;
  }


 

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 10px;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
/*=========CATEGORIES==================*/

.categories {
    background: var(--color-warning);
    height: 30rem;
    margin: 0;
    
    

}

.categories h1 {
    line-height: 1;
    margin-bottom: 2rem;
}

.categories__container {
    display: grid;
    grid-template-columns: 40% 60%;
    /*gap: 4rem;*/
}


.categories__left {
    margin-right: 2rem;
}


.categories__left p {
    margin: 2rem 0 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.categories__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    height: 8rem;
    width: 4rem;
    margin-top: 0rem;
    
}

.category {
    background: var(--color-bg1);
    padding: 1.5rem;
    border-radius: 2rem;
    height: 20rem;
    transition: var(--transition);
    margin-top: 0rem;
    width: 15rem;

}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;

}

.category:nth-child(1) .category__icon {
    background: #e47b25;
}

.category:nth-child(2) .category__icon {
    background: #6fbd17;
}


.category:nth-child(3) .category__icon {
    background: #b30da5;
    align-content: center;
}

.category:nth-child(4) .category__icon {
    background: #6fbd17;
}


.category:nth-child(5) .category__icon {
    background: #200ec4;
}

.category:nth-child(6) .category__icon {
    background: #7014bb;
}


.category__icon {
    background: var(--color-danger-variant);
    padding: 0.9rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    
    
}

.category h5 {
    margin-top: 1rem;
    font-size: 1.6rem;
    font: 2rem;
    text-decoration: underline;
    color: #e6870b;
    font-family: fantasy;
}
 
.category p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}




/*=========HEADER==================*/


header {
    position: flex;
    top: 2rem;
    height: 25rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    gap: 8rem;
    height: 50%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

.header__left  {
   line-height: 2rem;
    
}

.header__right  {
    width: 20rem;
    display: inline-block;
     
 }


/*=========POPULAR COURSES==================*/

.courses {
    margin-top: 4rem;
    background: #6fbd17;
}

.courses h2 {
    text-align: left;
    text-decoration: underline;
    margin-left: 6rem;
}

.courses__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    
   
}

.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    
}

.course:hover {
    background: var(--color-sucess);
    text-align: center;
    border: 1px solid transparent;
}


.course__info {
    padding: 1rem;
}

.course__info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
    line-height: normal;
}

/*=========FAQs==================*/

.pagedis{
    height: 30rem;
    background: red;
    -webkit-filter: brightness(54%);
    filter: brightness(54%);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-image: url(./Colored\ Shapes.svg);
    fill-opacity: 0;

}

.faqs {
    background: var(--color-warning);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3);
}

.faqs__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.faq {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background: var(--color-danger);
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    line-height: 2.2;
}

faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq section {
    margin-top: 0.7rem;
    display: none;

}

.faq.open section {
    display: block;
}

/*=========testimonial==================*/

.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 5rem;
    
}

.testimonial {
    padding-top: 2rem;
   
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-bg1);
    padding: 2rem;
    margin-top: 2rem;
    margin: 2rem;
    position: relative;
}

.testimonial__body::before {
    content: "";
    display: block;
    background: linear-gradient(
    135deg,
    transparent, 
    var(--color-bg1),
    var(--color-bg1),
    var(--color-bg1));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);

}

/*------GALARY-----*/

.galary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
}


/*=========FOOTER==================*/
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.footer__container > div h4 {
    margin-bottom: 1.2rem;
} 

.footer__1 p {
    margin: 0 0 3rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg);
}


/*=========MEDIA QUERIES (TABLET)==================*/

@media screen and (max-width: 1024px){
    body{
        background: #200ec4;
    }
    .container {
        width: auto;
        
    }

    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }
/*=========NAVBAR (TABLET)==================*/

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;

    }

    nav button#close-menu-btn {
        display: none;

    }

    .nav__menu {
        position: fixed;
        top: 8rem;
        right: 5%;
        background: ;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2){
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3){
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);

        }
        100% {
            transform: rotateZ(0) rotateX(0) scaleX(1);
            opacity: 1;

        }
    }

    .nav__menu li a{
        background: var(--color-danger-variant);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover{
        background: var(--color-bg2);
        color: var(--color-white);
    }


/*=========NAVBAR (TABLET)==================*/

header {
    height: 52vh;
    margin-top: 30rem;

}

.header__container {
    gap: 0;
    padding-bottom: 3rem;
}


/*=========CATEGORIES (TABLET)==================*/
.categories{
    height: auto;

}

.categories__container{
    grid-template-columns: 1fr;
    gap: 3rem;
}

.categories__left{
    margin-right: 0;

}

/*=========POPULAR COURSES (TABLET)==================*/

.courses{
    margin-top: 0;
}

.courses__container {
    grid-template-columns: 1fr 1fr;

}

/*=========FAQs (TABLET)==================*/

.faqs__container {
    grid-template-columns: 1fr;
}
.faq{
    padding: 1.5rem;

}

/*=========footer (TABLET)==================*/

.footer__container{
    grid-template-columns: 1fr 1fr;
   
}

}

/*=========MEDIA QUERIES (PHONE)==================*/

@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }

    /*=========NAVBAR (PHONE)==================*/

    .nav__menu{
        right: 3%;
    }

    /*=========HEADER (PHONE)==================*/
    header {
        height: 100vh;

    }

    .header__container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header__left p{
        margin-bottom: 1.3rem;
    }
    /*=========CATEGORIES (PHONE)==================*/
    .categories__right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        padding: 1rem;
        border-radius: 1rem;
    }

    .category__icon{
        margin-top: 4px;
        display: inline-block;

    }
    /*=========POPULAR COURSES (PHONE)==================*/
    .courses__container{
        grid-template-columns: 1fr;

    }

        /*=========testimonials (PHONE)==================*/
        .testimonial__body{
            padding: 1.2rem;
        }

    /*=========footer (PHONE)==================*/
    .footer__container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p{
        margin: 1rem auto;

    }

    .footer__socials{
        justify-content: center;
    }




}